
@model List<OOAD___Projektat___G3.Models.Artikal>
@{
    ViewData["Title"] = "MojiArtikli";
}

<style>
body {
  background-image: url('https://i.ibb.co/TkcSN7t/SL-090119-22970-03.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>


<p><img src="https://i.ibb.co/Hh5QK9W/logo.png" 
    alt="Smiley face" width="150" style="vertical-align:top;margin:0.8vw -3.125vw" />


<h1 >Moji Artikli</h1>
<style>
    .table, th, td {
font-size:1.5vw; 
color:black; 
margin-top: 2vw;
border: 0.2vw solid black;
}
</style>

<table class="table" bgcolor="#ffffffb3">
     <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model[0].naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].cijena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model[0].kolicina)
            </th>        
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.naziv)
            </td >
            <td>
                @Html.DisplayFor(modelItem => item.cijena)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kolicina)
            </td>
            <td>
                <a asp-action="Promjena" asp-route-id="@item.id">Prikaži stranicu</a>
            </td>
        </tr>
}
    </tbody>
</table>

<style>
    .button {
  border: black solid  0.256vw;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7vw;
  margin: 0.313vw 0.156vw;
  cursor: pointer;
   border-radius: 1.953vw;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.547vw 2.344vw 0.547vw 2.344vw;
  font-family: 'Times New Roman', Times, serif;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #ffffff00;} /* Orange */
</style>



    <body>
<button class="button button2" style = "position:absolute; top:2%; right:2%;" onclick="location.href='@Url.Action("MainUser","RegistrovaniKorisnik", new{kor = @ViewBag.korisnikID})'">Vrati se na glavnu stranicu</button>

    </body>
