@model IEnumerable<OOAD___Projektat___G3.Models.RegistrovaniKorisnik>

@{
    ViewData["Title"] = "RegistrovaniPregledRacuna";
}
<style>
body {
  background-image: url('https://i.ibb.co/Z1h18yK/25386.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
</style>
<h1 style="font-size:3vw; margin-top:8vw; margin-right:5vw; margin-bottom:10vw">Pregled svih ličnih računa sistema</h1>

<table class="table" style="color:black " bgcolor="#ffffffb3">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prezime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.korisnickoIme)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prezime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.korisnickoIme)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.password)
            </td>
            <td>
                <a asp-action="Delete" asp-controller="Administrator"  asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


            <style>
    .button {
  border: black solid  0.256vw;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.7vw;
  margin: 0.313vw 0.156vw;
  cursor: pointer;
   border-radius: 1.953vw;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  padding: 0.547vw 2.344vw 0.547vw 2.344vw;
  font-family: 'Times New Roman', Times, serif;
}

.button1 {background-color: #4CAF50;} /* Green */
.button2 {background-color: #ffffff00;} /* Orange */
</style>



    <body>
<button class="button button2" style = "position:absolute; top:2%; right:2%;" onclick="location.href='@Url.Action("MainAdministrator","Administrator")'">Vrati se na glavnu stranicu</button>

    </body>
